{% extends "users/base.html" %}
{% block content %}
<a href="{% url 'aphg' %}">Back</a>

<h2>Unit 1</h2>

<h4>Intro To Globalizaton</h4>
<a href="#" download="#">Download</a>

<h4>14 Maps</h4>
<a href="#" download="#">Download</a>

<h4>Chapter 1 Guided Reading</h4>
<a href="#" download="#">Download</a>

<h4>Singapore SPICE Chart</h4>
<a href="#" download="#">Download</a>

<h4>Thematic Maps</h4>
<a href="#" download="#">Download</a>

<h4>Singapore Case Study</h4>
<a href="#" download="#">Download</a>

<h4>Absolute And Relative Location</h4>
<a href="#" download="#">Download</a>

<h4>Study Guide</h4>
<a href="#" download="#">Download</a>


{% endblock %}