{% extends "users/base.html" %}
{% block content %}
<a href="{% url 'aphg' %}">Back</a>

<h2>Unit 2</h2>

<h4>Japan Article</h4>
<a href="#" download="#">Download</a>

<h4>Chapter 2 Guided Reading</h4>
<a href="#" download="#">Download</a>

<h4>Chapter 3 Guided Reading</h4>
<a href="#" download="#">Download</a>

<h4>World Population Map</h4>
<a href="#" download="#">Download</a>

<h4>United States Belts</h4>
<a href="#" download="#">Download</a>

<h4>California Article</h4>
<a href="#" download="#">Download</a>

<h4>Demographic Transition: Critical Thinking</h4>
<a href="#" download="#">Download</a>

<h4>Power Of Pyramids Graph</h4>
<a href="#" download="#">Download</a>

<h4>Power Of Pyramids Questions</h4>
<a href="#" download="#">Download</a>

<h4>Power Of Pyramids Chart</h4>
<a href="#" download="#">Download</a>

<h4>Push and Pull Factors California</h4>
<a href="#" download="#">Download</a>

<h4>Industria Model</h4>
<a href="#" download="#">Download</a>

<h4>Transition Model</h4>
<a href="#" download="#">Download</a>

<h4>Push and Pull Factors</h4>
<a href="#" download="#">Download</a>

<h4>China Article</h4>
<a href="#" download="#">Download</a>

<h4>Study Guide</h4>
<a href="#" download="#">Download</a>


{% endblock %}