<!DOCTYPE html>
<html lang="en">
<head>
        <meta name="description" content="Free homeowork answers that are quickly updated and reliable from A earning students.">
    <meta name="keywords" content="Free, homework, Heritage, Highschool, HHS">
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HHS Homework</title>
    <link rel="icon" type="image/png" href="{% static 'users/favicon.png' %}" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-151417475-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-151417475-1');
</script>

    {% block head %}
    {% endblock%}
</head>
<body>
<style>
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
<!--  background-color: #2196F3;-->
  padding: 10px;
}
.grid-item {
<!--  background-color: rgba(255, 255, 255, 0.8);-->
<!--  border: 1px solid rgba(0, 0, 0, 0.8);-->
  padding: 20px;
  text-align: center;
}

.item2 {
  padding-top: 70px;
  paddin-bottom: 500px;
}

.item4 {
  padding-top: 150px;
  padding-bottom: 190px;
}
.hidden{visibility: hidden;}
a:link {
  text-decoration: none;
}
</style>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light" style="background-color: #f2f2f2;">
                <a class="navbar-brand" href="{% url 'home' %}">HHSHomework</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'home' %}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'about' %}">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'updates' %}">Updates</a>
                        </li>
    <!--                    <li class="nav-item">-->
    <!--                        <a class="nav-link" href="#">Pricing</a>-->
    <!--                    </li>-->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Help
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="{% url 'help' %}">Help</a>
                                <a class="dropdown-item" href="{% url 'aphg' %}">APHG</a>
<!--                                <a class="dropdown-item" href="#">Geometry</a>-->
                            </div>
                        </li>
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        {% if user.is_authenticated %}
                        <li class="nav-item form-inline" style="padding-right: 10px;">
                            <a class="nav-link">Tokens: {{ user.profile.tokens_have }}</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ user.username }}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                {% if perms.answer.can_create %}
                                <a class="dropdown-item" href="{% url 'staffhome' %}">Staff</a>
                                {% endif %}
                                <a class="dropdown-item" href="{% url 'profile' %}">Profile</a>
                                <a class="dropdown-item" href="#">Tokens</a>
                                <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                            </div>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn btn-primary text-white shadow" href="{% url 'register' %}">Signup</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-11 item2 h-100">
          {% block content %}
          {% endblock %}
        </div>

        <div class="col-1 item4">
            <img class="hidden" src="//lh3.ggpht.com/fnbHmzCuSGCd6tpdIR1byKk75uSr19ezq9rHxaXmKancx07uM8DHPAiNZYnGDhmvpSr-HQY=w120" height="auto" alt="">
        </div>
    </div>
</div>

<!-- Footer -->
<footer class="page-footer font-small blue pt-4 sticky-bottom" style="background-color: #f2f2f2;">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase">HHSHomework</h5>
        <p>Quality answers you can trust.</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Important Links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="{% url 'help' %}">Help</a>
          </li>
          <li>
            <a href="{% url 'aphg' %}">APHG</a>
          </li>
          <li>
            <a href="{% url 'updates' %}">Updates</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Legal</h5>

        <ul class="list-unstyled">
          <li>
            <a href="{% url 'privacy' %}">Privacy Policy</a>
          </li>
          <li>
            <a href="{% url 'terms' %}">Terms of Use</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a href="https://mdbootstrap.com/education/bootstrap/"> HHSHomework.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.linearicons.com/free/1.0.0/svgembedder.min.js"></script>
<script>
  function signOut() {
    var auth2 = gapi.auth2.getAuthInstance();
    auth2.signOut().then(function () {
      console.log('User signed out.');
    });
  }
</script>
</body>
</html>