{% extends "users/base.html" %}
{% block content %}
{% load socialaccount %}
{% load static %}
{% block head %}
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({
          google_ad_client: "ca-pub-5063335113308319",
          enable_page_level_ads: true
     });
</script>
{% endblock%}

<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Login</legend>
                {{ form }}
        </fieldset>
        <div class="form-group">
                <button type="submit">Login</button>
            </div>
    </form>
    <a href="{% provider_login_url 'google' %}" style="text-decoration: none;"><img src="{% static 'users/signin-button.png' %}" width="200px"></a>

    <div>
        <small>Need an account?<a href="{% url 'register' %}">Signup</a></small><br>
        <small>Forgot Password?<a href="{% url 'password_reset' %}">Reset</a></small>

    </div>
</div>
{% endblock %}