{% extends "users/base.html" %}
{% block head %}
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({
          google_ad_client: "ca-pub-5063335113308319",
          enable_page_level_ads: true
     });
</script>
{% endblock%}
{% block content %}
{% for update in updates %}
        <article class="media content-section">
          <div class="media-body">
              <h5>{{ update.date }}</h5>
              <pre>{{ update.changes }}</pre>
          </div>
        </article>
    {% endfor %}
{% endblock %}